<!DOCTYPE html>
<html>
  <!-- mpaas aliababa -->
  <script>
    window._to = {
      server: 'https://cn-hangzhou-mas-log.cloud.alipay.com/loggw/webLog.do',
      appId: 'ONEX25F2353160135',
      workspaceId: 'default',
      h5version: '0.1.1.1',
    };
  </script>
  <script src="https://gw.alipayobjects.com/os/lib/alipay/mpaas-mtracker/1.1.1/dist/index.min.js"></script>
  <head>
    <title>铭</title>
    <meta charset="utf-8">
  </head>
  <body>  
    <div id="app"></div>
  </body>
</html>
